<div class="container" [ngClass]="{'dark-theme': dark}">
  <!-- <span>Dark mode : <mat-slide-toggle [(ngModel)]=dark></mat-slide-toggle></span> -->
  <form [formGroup]="form" (ngSubmit)="sendForm()" *ngIf="!sended && !sending">
    <h1>Formulário de envio de e-mail</h1>
    <mat-form-field appearance="outline">
      <mat-label>Nome Completo </mat-label>
      <input matInput  formControlName='name'/>
      <mat-icon matSuffix>face</mat-icon>
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        O nome é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>E-mail </mat-label>
      <input matInput  formControlName='email'/>
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        O e-mail é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefone</mat-label>
      <input matInput formControlName='phone' />
      <mat-icon matSuffix>smartphone</mat-icon>
      <mat-error *ngIf="form.get('phone')?.hasError('required')">
        O telefone é <strong>obrigatório</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName='password' />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        A senha é <strong>obrigatória</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Confirmação de Senha</mat-label>
      <input matInput type="password" formControlName='repassword'/>
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error *ngIf="form.get('repassword')?.hasError('required')">
        A confirmação de senha é <strong>obrigatória</strong>
      </mat-error>
    </mat-form-field>

    <div *ngIf="form.errors?.['confirmPasword'] && (form.touched || form.dirty)" class="error-senha">
      A confirmação de senha tem que ser igual a senha.
    </div>
    <button [disabled]="!form.valid" mat-raised-button color="primary" >Enviar e-mail</button>
  </form>
  <div *ngIf="sended">
    <p *ngIf="sucess"><mat-icon class="sucess"color=>check_circle</mat-icon></p>
    <h1 *ngIf="sucess">E-mail enviado com sucesso!</h1>
    
    <p *ngIf="error"><mat-icon class="error"color=>error</mat-icon></p>
    <h1 *ngIf="error">Erro ao enviar e-mail!</h1>
    <button mat-raised-button (click)="newEmail()"> Enviar novo e-mail</button>
  </div>

  <mat-spinner *ngIf="sending"mode="indeterminate"></mat-spinner>
</div>